.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  background-color: #cbe7ff;
  background-image: radial-gradient(
      at 47% 33%,
      rgb(255, 255, 255) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, rgb(248, 248, 248) 0, transparent 55%);
}
.wrapper {
  width: 400px;
  height: 600px;
}
